body {
  height: 100vh;
  width: 100%;
}
div {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: -webkit-xxx-large;
  font-weight: bolder;
}
.offscreen {
  background: #e77e23;
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}
.offscreen:focus {
  transform: translateY(0%);
}
