body {
  background-image: url("https://raw.githubusercontent.com/pavankalyan-codes/30-Days-30-Projects/master/8%20Ubuntu%20Theme/ubuntu.jpeg");
  background-size: cover;
  height: 100vh;
  font-family: "Ubuntu" !important;
}
.top-bar {
  width: 100%;
  height: 20px;
  z-index: 2;
  position: fixed;
  background: #574d4deb;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.left-bar {
  flex-direction: column;
  height: 100vh;
  width: 60px;
  background: #2221216e;
  z-index: 1;
  position: fixed;
  margin-top: 20px;
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.rtop-icons {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.app-icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
i {
  font-size: smaller;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 10px;
}
.btm {
  height: 100%;
  margin-bottom: 10px;
}
.marg-btm {
  margin-bottom: 30px;
  height: 40px;
}
.body {
  height: 100%;
  width: 100%;
  /* margin-top: 20px; */
  padding-top: 20px;
  padding-left: 60px;
  position: fixed;
}
#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
  /* width: 500px;
  height: 500px; */
  border-radius: 10px;
  top: 5%;
  left: 20%;
}

#mydivheader {
  cursor: move;
  z-index: 10;
  background-color: #505355;
  color: #ea8845;
  display: flex;
  border-radius: 5px 5px 0px 0px;
}
.win-icons {
  width: 70px;
  justify-content: space-around;
  cursor: default;
}
iframe {
  width: 500px;
  height: 503px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: -10px;
}
.search-bar {
  background-color: #333333;
}
#search {
  background-color: rgb(17, 17, 17);
  outline: transparent;
  color: white;
  border: none;
  border-radius: 15px;
  padding-left: 10px;
  font-size: 14px;
}
.broswer-icons {
  color: white;
  font-size: 16px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.pad5 {
  padding: 5px;
}
.whitecolor {
  background-color: white;
}

.make-fullscreen {
  width: 100%;
  bottom: 20px;
  top: 20px !important;
  left: 0px !important;
}

.iframe-full {
  width: 100%;
  height: 100%;
}

.hide {
  display: none !important;
}
.circle {
  width: 5px;
  height: 5px;
  background: white;
  align-self: center;
  margin-top: 10px;
  border-radius: 10px;
}
.space-even {
  justify-content: space-evenly;
}
.transparent {
  background-color: transparent;
}
.space-around {
  justify-content: space-around;
}
.dots {
  width: 40px;
}
