.login-signup {
  margin: auto;
  width: 260px;
  height: 100vh;
}
body {
  color: white;
  font-family: "Lexend", sans-serif !important;
  height: 100vh;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h4 {
  text-align: center;
}
#confirmPass {
  width: 100%;
}
.cpass {
  width: 250px;
}
.login {
}
.signup {
  color: #108dc7; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
}
.headbar {
  height: 50px;
  background: #108dc7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}
.content {
  border: 0px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 17px #dfd4d4;
}
.dummy {
}
.signin {
  padding: 20px;
}
.makeround {
  border-radius: 40px !important;
}
.myBtn {
  width: 100px;
  margin: auto;
}
.font-small {
  font-size: small;
}
.hide {
  display: none !important;
}
.main-div {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
}
.white-color {
  color: white;
}
#tc {
  vertical-align: middle;
}
#tctext {
  font-size: 13px;
  vertical-align: middle;
}
