body {
  font-family: "Lexend", sans-serif !important;
}
.search {
  width: 300px;
  /* display: flex; */
  /* justify-content: center; */
  margin: auto;
  border: 1px solid #e6e2e2;
  border-radius: 20px 20px 20px 20px;
  /*20px 20px 0px 0px*/
}
.results {
  border: 1px solid white;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  box-shadow: 0px 2px 7px 0px #727272;
}
.result-card {
  border: 0px solid white;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  box-shadow: 0px 2px 7px 0px #727272;
}
#search-input {
  outline: none;
  border: none;
  margin: 0px 20px 0px 0px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset,
    0 0 8px rgba(255, 255, 255, 0.6);
  outline: 0 none;
}
.search-icon {
  margin: 10px;
  color: #bababa;
}
ul {
  list-style-type: none;
}
#search-results {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: white;
}
li {
  color: blue;
  cursor: pointer;
  font-size: 12px;
}
.mys {
  margin: 3px;
  color: #1f2d8b;
  font-size: 12px;
}
.res {
  margin-top: 5px;
}
hr {
  margin: 0px !important;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
  margin-left: -32px !important;
}
#mylist {
  margin: auto;
  width: 300px;
  border: 1px solid #e6e2e2;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 32px 32px 20px #f2f2f2;
}
.cloud {
}
.temp {
  font-size: -webkit-xxx-large;
  justify-content: center;
}
.c-details {
  margin: auto;
  margin: 20px;
  text-align: center;
}
.city {
  margin: 10px;
  word-break: break-word;
  font-size: 12px;
}
.date {
  font-size: 25px;
}
.left {
  background-color: black;
  color: white;
  border-radius: 10px 0px 0px 10px;
}
.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0px 0px 10px 0px;
  font-size: 20px;
}
.hide-this {
  display: none !important;
}
.loader-spinner {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 193px;
  align-items: center;
}

.error-city {
  color: red;
  height: 193px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.danger {
  margin: auto;
  color: red;
  font-size: -webkit-xxx-large;
}
@media only screen and (max-width: 600px) {
  .mycard {
    flex-direction: column;
  }
  .top-part {
    width: 100% !important;
  }
  .left {
    border-radius: 10px 10px 0px 0px;
  }
}
.half-width {
  width: 50%;
}
